.form-wrapper {
  max-width: 500px;
  background-color: rgba(55, 114, 55, 0.801);
  @apply p-16 rounded-lg;
}

.form-wrapper p {
  color: #bf1650;
}

.form-wrapper p::before {
  display: inline;
  content: "⚠ ";
}

.form-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-top: 7px;
  color: black;
  font-size: 18px;
}

.form-wrapper button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  text-transform-wrapper: uppercase;
  border: none;
  @apply rounded-full py-3 mt-6 px-12 text-xl font-bold cursor-pointer text-white;
}

.form-wrapper button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

.form-wrapper button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform-wrapper: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
